.App {
  position: relative;
  padding: 30px;
}

.loading {
  position: absolute;
  left:50%;
  top: 50%;

  background-color: #ffffff;
}

.list {
  display: inline-block;
  list-style: none;
}

.list_li {
  padding: 7px;
  border: 1px solid #a6a6a6;
}