.App {
  position: relative;
  display: flex;
  padding: 30px;
}

.loading {
  position: absolute;
  left:50%;
  top: 50%;

  background-color: #ffffff;
}

.list {
  display: inline-block;
  list-style: none;
}

.list_li {
  padding: 7px;
  border: 1px solid #a6a6a6;
}

.details {
  margin-left: 30px;
  padding: 10px;

  border: 1px solid #a6a6a6;
}

.name {
  padding: 10px 5px;

  border: 1px solid #a6a6a6;
}